Package: neuroslink-artwork-usplash
Version: 1.0
Architecture: i386
Maintainer: Thomas Bruno <tbruno@neurostechnology.com>
Installed-Size: 2632
Depends: libc6 (>= 2.1.3), initramfs-tools (>= 0.40ubuntu30), usplash (>= 0.4-21)
Provides: usplash-theme
Section: misc
Priority: optional
Description: Neuros Link artwork for usplash
 The usplash startup screen for Neuros Link.
